/* Start of All Page */

*,*::before,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #4d7d78;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container1{
  width: 88%;
  margin: 0 auto;
  height: 98vh;
}
header{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
nav > ul > li{
  list-style: none;
  display: inline;
}
a{
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}
nav > ul > li a{
  margin: 0 7px;
}
nav > ul > li a:hover{
  cursor: pointer;
  font-weight: bolder;
  color: #05282e;
}
p{
  font-size: large;
}
.footer{
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  border-top: 1px solid white;
  margin-top: 220px;
}
.cpy{
  align-self: center;
}

/* End Of All Pages */



/* Start of home page */

.welcome{
  margin-bottom: 20px;
  font-size: 2.5em;
  text-transform: capitalize;
}
.job{
  font-size: 3.5em;
  color: cadetblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin-left: 3em;
  text-transform: capitalize;
}
.my-projects-btn{
  background-color: rgb(77, 142, 174);
  padding: .5em;
  font-size: 1.5em;
  border-radius: 13px;
  margin-top: 20px;
  margin-left: 40em;
}
.my-projects-btn:hover{
  padding: .6em;
  opacity: 1;
}

/* end of home page */


/* Start of About me page */

.title{
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 18px;
  border-bottom: 1px solid white ;
}

.education-list{
  list-style: none;
  font-size: large;
  margin-bottom: 4px;
}
.info{
  width: 60%;
}
.about-me{
  line-height: 25px;
}
.desc{
  margin-bottom: 20px;
}
.footer-about{
  margin-top: 101px;
}

/* End of About me page */



/* Start of projects page  */

.card{
  width: 15em;
  height: 15em;  
  margin-right: 70px;
  text-align: center ;
}
.projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects-header{
  margin-top: 18px;
}
.project-image{
  width: 100%;
  height: 80%;
}
.project-title{
  text-transform: capitalize;
}
.footer-projects{
  margin-top: 189px;
}
/* Start of projects page  */




/* Start of contact me page */

.contact-header{
margin-bottom: 68.5px;
}
.title-contact{
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}
input{
  width: 100%;
  padding: .5em;
}
label{
  font-size: larger;
}
textarea{
  width:100%
}
.submit-btn{
  background-color: rgb(126, 134, 138);
  padding: 3px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.submit-btn:hover{
  padding: 4px;
  opacity: 1;
}
.footer-contact{
  margin-top: 72px
}

/* End of contact me page */



/* Start of skills page */
  .cards{
    display: flex;
    gap: 10px;
    margin-bottom: 13.7em;
  }
  .skill{
    width: 70px;
    height: 80px;
  }

/* End of skills page */








